<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="DataPath" value="data"/>
        <add key="OverlayStrategy" value="Random"/>
        <add key="PathSelectionStrategy" value="Latency-aware"/>
        <add key="InitiallyChosenNeighborsCount" value="2"/>
        <add key="LatencyAwareChosenNeighborsCount" value="2"/>
      </appSettings>
</configuration>